asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
dj-database-url==2.2.0
Django==4.2.15
django-crispy-forms==2.3
gunicorn==23.0.0
idna==3.8
packaging==24.1
psycopg2-binary==2.9.9
python-decouple==3.8
python-http-client==3.3.7
requests==2.32.3
sendgrid==6.11.0
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
typing_extensions==4.12.2
urllib3==2.2.2
