{% extends "to_dos/base.html" %}

{% block content %}
  <div class="container mt-5">
    <h1 class="mb-4">Edit To-Do Item</h1>
    <form method="post" action="{% url 'details' to_do.id %}" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <label for="to_do_title" class="form-label">Title</label>
        <input type="text" class="form-control" id="to_do_title" name="title" value="{{ to_do.title }}">
      </div>
      <div class="mb-4">
        <label for="to_do_description" class="form-label">Description</label>
        <textarea class="form-control" id="to_do_description" name="description" rows="4">{{ to_do.description }}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
  </div>
  <a href="{% url 'to_dos' request.user.profile.selected_tag_unique_str %}" class="btn btn-primary rounded-circle btn-lg shadow" style="position: fixed; bottom: 90px; right: 20px;">
    H
  </a>
  <a href="{% url 'delete_todo' to_do.id %}" class="btn btn-danger rounded-circle btn-lg shadow" style="position: fixed; bottom: 20px; right: 20px;">
    D
  </a>
{% endblock %}
