{% extends "to_dos/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Password Reset</h2>
            <form method="post" class="border p-4 bg-light shadow-sm rounded">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
            <!-- Additional text and links below the form -->
            <div class="text-center mt-3">
                <p class="small mb-1">Don't have an account? <a href="{% url 'signup' %}" class="text-primary font-weight-bold">Sign up</a></p>
                <p class="small mb-0">Can't remember your password? <a href="{% url 'password_reset' %}" class="text-primary font-weight-bold">Password reset</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}